@model List<UsersApp.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h2>Clients</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Clien Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                Phone
            </th>
            <th>
              Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastNameClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.IdClient">Edit</a> |
                
                <a asp-action="Delete" class="btn btn-danger"  asp-route-id="@item.IdClient">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
