@model List<UsersApp.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h2>Clients</h2>

<p>
    <a class="btn btn-success"  asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Clien Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                Phone
            </th>
            <th>
              Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastNameClient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a class="btn btn-info" href="@Url.Action("Edit", "Client", new { id=item.IdClient, idrol=0})">Edit</a> |
                
                <a class="btn btn-danger" href="@Url.Action("Delete", "Client", new { id=item.IdClient, idrol=0})">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
